* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(48, 170, 252);
    align-items: center;
    display:flex;

}

.navbar__menu { 
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
}


.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: small;
    font-weight: bold;
    transition: 0.5s;
}

.navbar__links:hover {
    color: rgb(48, 170, 252);
}

.navbar__linkslogo {
    color: rgb(48, 170, 252);
    padding-left: 0.5em;
    padding-right:0.8em;
    transition: 0.5s;
}

.navbar__linkslogo:hover {
    color: white;
}

.main {
    color:white;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    max-width: 2000px;
    padding: 0 200px;
}

.main__content h1 {
    font-size: 4rem;

}

.main__content h2 {
    font-size: 1rem;
    padding-bottom: 5rem;
    font-weight: 200;
}


.main__thingstodo {
    color: rgb(40, 104, 48);
    padding-left: 15em;
    justify-self: center;
    height: 50vh;
}

.main__thingstodo h1 {
    padding-bottom: 3rem;

}

.options {
    display: flex;
    gap: 25px;
  }

  #posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

#msg {
    color: red;
  }


  #passwordButton {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 170, 252);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
  }

#form {
    color: rgb(40, 104, 48);
}

#form button {
    background-color: rgb(48, 170, 252);
}

#form h5{
font-weight: bold;
}

#form p {
font-size: 12px;
}

#passwordButtonMsg {
color: red;
}

.modal {
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(5px);
  }

.bottom button {
    color: white;
}

.bottom textarea {
    color: rgb(255, 255, 255);
}

.main__thingstodo p {
    font-size: small;

}
